.files-container {
  margin-bottom: rem-calc(32);
}

.image-to-delete {
  display: block;
  margin: auto;
}
//.image-container {
//  padding-bottom: 1em;
//  padding-top: 1em;
//  text-align: center;
//  // test out for foundations equalizer
//  margin: rem-calc(16) 0 0 ;
//}

.removed-success {
  text-align: left;
}